.list-item {
  list-style-type: none;
  max-width: 200px;
  margin: 30px;
}
.poster-image {
  height: 300px;
  width: 200px;
  border-radius: 4px;
}
.title-heading {
  font-family: 'roboto';
  font-size: 15px;
  font-weight: bold;
  color: black;
}
.rating {
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 400;
  color: black;
}
.details-button {
  border: none;
  outline: none;
  background-color: #0275d8;
  color: white;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}
.details-button:hover {
  background-color: #5cb85c;
}
